{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
    
<!-- ================ start banner area ================= -->	
<section  style="background-image: url('https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492_960_720.jpg');background-color: #cccccc; height:700px; background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative; " id="blog" >
		<div class="container h-100 ">
			<div style="text-align: center; padding-top:350px;">
				<div  >
                <h1>Dashboard</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
        </ol>
      </nav>
            </div>
        </div>
</div>

</section>

  <!-- alerts -->







  <section class="tracking_box_area section-margin--small">
    <div class="container">
        <div class="tracking_box_inner">
            <p> Please enter your email id to reset your password.</p>
            <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
                
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Billing Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Email Address'">
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="button button-tracking">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>




    {% endblock %}
    

    
  
    
   